@font-face {
  font-family: "iconfont"; /* Project id 2317132 */
  src: url('iconfont.woff2?t=1621696014341') format('woff2'),
       url('iconfont.woff?t=1621696014341') format('woff'),
       url('iconfont.ttf?t=1621696014341') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time-fill:before {
  content: "\e671";
}

.icon-setting-line:before {
  content: "\e672";
}

.icon-location2:before {
  content: "\e673";
}

.icon-home2:before {
  content: "\e674";
}

.icon-shang:before {
  content: "\e675";
}

.icon-caidan:before {
  content: "\e676";
}

.icon-xiugai:before {
  content: "\e677";
}

.icon-yonghu:before {
  content: "\e678";
}

.icon-zuo:before {
  content: "\e679";
}

.icon-you:before {
  content: "\e67a";
}

.icon-shezhi:before {
  content: "\e67b";
}

.icon-xia:before {
  content: "\e67c";
}

.icon-sousuo:before {
  content: "\e67d";
}

.icon-shuaxin:before {
  content: "\e67e";
}

.icon-huiyi:before {
  content: "\e67f";
}

.icon-danwei:before {
  content: "\e680";
}

.icon-fanhui:before {
  content: "\e681";
}

.icon-shouji1:before {
  content: "\e682";
}

.icon-mima:before {
  content: "\e683";
}

.icon-wenjian1:before {
  content: "\e684";
}

.icon-shanchu:before {
  content: "\e685";
}

.icon-wenjian:before {
  content: "\e686";
}

.icon-tianjia:before {
  content: "\e687";
}

.icon-tuichu:before {
  content: "\e688";
}

.icon-yujing:before {
  content: "\e689";
}

.icon-30-shanchu:before {
  content: "\e68a";
}

.icon-shanchu1:before {
  content: "\e68b";
}

.icon-gouxuan:before {
  content: "\e68c";
}

.icon-jiazai:before {
  content: "\e68d";
}

.icon-touxiang:before {
  content: "\e68e";
}

.icon-application-group-fill:before {
  content: "\e60a";
}

.icon-arrow-up-line:before {
  content: "\e60b";
}

.icon-balance-line:before {
  content: "\e60c";
}

.icon-application-line:before {
  content: "\e60e";
}

.icon-backspace-line:before {
  content: "\e60f";
}

.icon-authentication-line:before {
  content: "\e610";
}

.icon-button-down-fill:before {
  content: "\e611";
}

.icon-button-left-fill:before {
  content: "\e616";
}

.icon-arrow-down-line:before {
  content: "\e617";
}

.icon-all-fill:before {
  content: "\e619";
}

.icon-box-fill:before {
  content: "\e61b";
}

.icon-applets-fill:before {
  content: "\e61c";
}

.icon-calculator-fill:before {
  content: "\e61d";
}

.icon-button-right-fill:before {
  content: "\e61e";
}

.icon-button-up-fill:before {
  content: "\e61f";
}

.icon-cart-with-line:before {
  content: "\e620";
}

.icon-cart-fill:before {
  content: "\e621";
}

.icon-cart-empty-line:before {
  content: "\e625";
}

.icon-balance-fill:before {
  content: "\e626";
}

.icon-charging-pile-line:before {
  content: "\e62a";
}

.icon-chart-area-fill:before {
  content: "\e62b";
}

.icon-ascending-line:before {
  content: "\e62c";
}

.icon-border-verticle-fill:before {
  content: "\e62d";
}

.icon-caution-line:before {
  content: "\e62f";
}

.icon-caution-fill:before {
  content: "\e630";
}

.icon-chart-line:before {
  content: "\e631";
}

.icon-chart-relation-fill:before {
  content: "\e632";
}

.icon-close-fill:before {
  content: "\e633";
}

.icon-calendar-line:before {
  content: "\e634";
}

.icon-chart-pie-line:before {
  content: "\e635";
}

.icon-check-line:before {
  content: "\e638";
}

.icon-bug-report-line:before {
  content: "\e639";
}

.icon-cloud-upload-fill:before {
  content: "\e63a";
}

.icon-chevron-sort-line:before {
  content: "\e63b";
}

.icon-cloud-download-fill:before {
  content: "\e63d";
}

.icon-comment-fill:before {
  content: "\e63e";
}

.icon-cloud-machine-fill:before {
  content: "\e63f";
}

.icon-compress-fill:before {
  content: "\e640";
}

.icon-compress-line:before {
  content: "\e641";
}

.icon-compass-line:before {
  content: "\e643";
}

.icon-chart-scatter-plot-line:before {
  content: "\e645";
}

.icon-comment-line:before {
  content: "\e646";
}

.icon-chart-scatter-plot-fill:before {
  content: "\e647";
}

.icon-cloud-machine-line:before {
  content: "\e648";
}

.icon-cloud-upload-line:before {
  content: "\e649";
}

.icon-cloud-download-line:before {
  content: "\e64a";
}

.icon-copy-line:before {
  content: "\e64b";
}

.icon-credits-fill:before {
  content: "\e64c";
}

.icon-database-fill:before {
  content: "\e64d";
}

.icon-copy-fill:before {
  content: "\e64e";
}

.icon-delete-fill:before {
  content: "\e64f";
}

.icon-cut-line:before {
  content: "\e650";
}

.icon-database-plus-line:before {
  content: "\e651";
}

.icon-delete-line:before {
  content: "\e652";
}

.icon-customer-sercive-line:before {
  content: "\e653";
}

.icon-diagnose-line:before {
  content: "\e655";
}

.icon-dingtalk-fill:before {
  content: "\e656";
}

.icon-edit-fill:before {
  content: "\e657";
}

.icon-enlarge-fill:before {
  content: "\e658";
}

.icon-document-download-line:before {
  content: "\e659";
}

.icon-filter-fill:before {
  content: "\e65b";
}

.icon-hourglass-line:before {
  content: "\e65c";
}

.icon-help-line:before {
  content: "\e65d";
}

.icon-flag-fill:before {
  content: "\e65e";
}

.icon-forbidden-fill:before {
  content: "\e65f";
}

.icon-email-fill:before {
  content: "\e660";
}

.icon-hot-fill:before {
  content: "\e662";
}

.icon-flow-line:before {
  content: "\e663";
}

.icon-info-fill:before {
  content: "\e664";
}

.icon-new-releases-fill:before {
  content: "\e665";
}

.icon-inbox-fill:before {
  content: "\e666";
}

.icon-like-fill:before {
  content: "\e667";
}

.icon-star-line:before {
  content: "\e668";
}

.icon-terminal-line:before {
  content: "\e669";
}

.icon-terminal-fill:before {
  content: "\e66a";
}

.icon-user-avatar-fill:before {
  content: "\e66b";
}

.icon-share-fill:before {
  content: "\e66c";
}

.icon-time-line:before {
  content: "\e66d";
}

.icon-user-avatar-line:before {
  content: "\e66e";
}

.icon-unlock-fill:before {
  content: "\e66f";
}

.icon-wifi-line:before {
  content: "\e670";
}

.icon-fuzhi:before {
  content: "\e628";
}

.icon-ic_temp:before {
  content: "\e615";
}

.icon-caijian1:before {
  content: "\e6e2";
}

.icon-wanggekai:before {
  content: "\e783";
}

.icon-tuceng1:before {
  content: "\e637";
}

.icon-background:before {
  content: "\e609";
}

.icon-juzhongduiqi:before {
  content: "\ec80";
}

.icon-youduiqi:before {
  content: "\ec82";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

.icon-zuoduiqi:before {
  content: "\ec87";
}

.icon-zuoyouduiqi:before {
  content: "\ec88";
}

.icon-yulan:before {
  content: "\e613";
}

.icon-toumingdu:before {
  content: "\e7b8";
}

.icon-caijian2:before {
  content: "\e644";
}

.icon-hangjianju:before {
  content: "\e622";
}

.icon-zijianju:before {
  content: "\e623";
}

.icon-suoxiao:before {
  content: "\e614";
}

.icon-fangda:before {
  content: "\e654";
}

.icon-baocun:before {
  content: "\e60d";
}

.icon-suoxiao1:before {
  content: "\e63c";
}

.icon-cangpeitubiao_yulan:before {
  content: "\e627";
}

.icon-chexiaozuo:before {
  content: "\e605";
}

.icon-chexiaoyou:before {
  content: "\e606";
}

.icon-fangda1:before {
  content: "\e879";
}

.icon-qingchu:before {
  content: "\e8b4";
}

.icon-fangda2:before {
  content: "\e642";
}

.icon-image:before {
  content: "\e629";
}

.icon-bold:before {
  content: "\eaef";
}

.icon-strikethrough:before {
  content: "\eaf0";
}

.icon-zuoyoufanzhuan:before {
  content: "\e607";
}

.icon-shangxiafanzhuan:before {
  content: "\e608";
}

.icon-zoomout:before {
  content: "\eb48";
}

.icon-yulan1:before {
  content: "\e624";
}

.icon-jianqie:before {
  content: "\e603";
}

.icon-biaochi:before {
  content: "\e604";
}

.icon-review:before {
  content: "\e62e";
}

.icon-3caijian:before {
  content: "\e612";
}

.icon-caijian:before {
  content: "\e65a";
}

.icon-icon--:before {
  content: "\e71e";
}

.icon-beijing:before {
  content: "\e661";
}

.icon-166991:before {
  content: "\e601";
}

.icon-erweima:before {
  content: "\e602";
}

.icon-tuceng:before {
  content: "\e600";
}

.icon-suodinglocked35:before {
  content: "\e6d9";
}

.icon-wenben:before {
  content: "\e75e";
}

.icon-align-left:before {
  content: "\e757";
}

.icon-xiazai:before {
  content: "\e6d7";
}

.icon-mobanguanli:before {
  content: "\e636";
}

.icon-tupian:before {
  content: "\e61a";
}

.icon-fanchexiao:before {
  content: "\e6ed";
}

.icon-7chexiao:before {
  content: "\e618";
}

